fieldset.jcalendar {
	font: 11px Arial, Helvetica, sans-serif;
	border: 0;
}

div.jcalendar-wrapper {
	width:20em;
}

div.jcalendar-selects {
	
}

div.jcalendar-selects select {
	font-size: 100%;
	margin-bottom: 6px;
}

div.jcalendar table {
	background:#a1a5a9;
	color:#000;
}

div.jcalendar table th {
background:#eee;
}

div.jcalendar table td {
background:#f9f9f9;
padding:0;
width:2.2em;
}

div.jcalendar table th.weekend {
background:#ddd;
}

div.jcalendar table td.weekend {
background:#e9e9e9;
}

div.jcalendar table td a {
color:#333;
display:block;
line-height:1.7em;
text-align:center;
text-decoration:none;
width:2.2em;
}

div.jcalendar table td.today a {
background:#777;
border-color:#aaa;
color:#fff;
font-weight:700;
}

div.jcalendar table td a:hover,div.jcalendar table td a:focus,div.jcalendar table td a:active {
background:#77b0d3;
color:#fff;
padding:0;
}

div.jcalendar table td a.selected {
background:#0072b9;
color:#fff;
}

div.jcalendar-links {
	margin-top: 6px;
	margin-left: 30px;
}

div.jcalendar-links a {
padding:.2em .4em;
}