# Ignore the backup_database directory:
Database_Backup/

# Ignore the wordpress directory and default themes
*.php
*.html
wp-includes
wp-admin
#wp-content/*
wp-content/plugins
wp-content/languages
wp-content/updraft/*
wp-content/themes/twentythirteen
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen

bower_components
node_modules
dist

wp-content/updraft
# wordpress/*/uploads

tilemob.com.au

# Include wp-config.php and other wordpress themes and plugins
!wp-config.php
!wp-content
!wp-content/updraft/*
!wp-content/themes/the_tilemob












wp-content/updraft/.DS_Store
wp-content/updraft/.htaccess
wp-content/updraft/index.html
wp-content/updraft/web.config
