@font-face {
	font-family: 'Courgette';
	src: url('../fonts/Courgette-Regular.eot'); 
	src: url('../fonts/Courgette-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Courgette-Regular.woff') format('woff'),
		url('../fonts/Courgette-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Annifont';
	src: url('../fonts/Annifont.eot');
	src: url('../fonts/Annifont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Annifont.woff') format('woff'),
		url('../fonts/Annifont.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*==========================================
=            	Body Classes            =
==========================================*/
 
/* Body has grey_bg attached */
.padding-zero {
	padding: 0 !important;
}
.mrg-top-zero {
	margin-top: 0;
}
.set-padding {
    padding-left: 15px;
    padding-right: 15px;
}
img {
    max-width: 100%;
}
/*==========================================
=            Background Classes            =
==========================================*/

.white_bg {
	background:#fff;
	padding-bottom: 35px;
	padding-top: 20px;
}
.red_bg {
	background:$red;
}
.grey_light_bg {
	background:$grey-light;
}
.grey_bg {
	background:$grey;
}
.grey_dark_bg {
	background:$grey-dark;
}
/*==========================================
=            Gutter Classes           		 =
==========================================*/
.gutter-left {

	border-left:$gutter solid $grey;
}
.gutter-right {
	border-right:$gutter solid $grey;

}
.set-gutter-right {
	@extend .gutter-right;
}
.gutter-top {
	margin-top:$gutter;

}
.gutter-bottom {
	margin-bottom:$gutter;

}

.gutter-both {
	@extend .gutter-left;
	@extend .gutter-right;
}
/*==========================================
= Navigation Classes - Add this class to ul =
==========================================*/
.style-to-nav {
	display: inline-block;
  	list-style: none;
  	li {
  		float: left;
  	}
}
/*==========================================
=                Button Classes            =
==========================================*/
.btn-danger { 
	margin: auto 1em;
}
