h1 {
	position: relative;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
h2 {
	position: relative;
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: normal;
	line-height: 140%;
	color: #000000;
	clear: both;
}
h3 {
	position: relative;
	display: block;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
h4 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
h5 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
h6 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 12px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
ul {
	position: relative;
	display: block;
	margin-bottom: 1.4em;
	margin-left: 30px;
}
p {
	margin-bottom: 1em;
}

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 160%;
	color: #000000;
}

TD {
	border: 1px dotted #CCCCCC;
}