/*==========================================
=            	Body Classes            =
==========================================*/
 
/* Body has grey_bg attached */
.padding-zero {
	padding: 0 !important;
}
.mrg-top-zero {
	margin-top: 0;
}
.translateY-37 {
		@include translateY(37%);
}
.translateY-106 {
		@include translateY(106%);
}
.translateY-400 {
		@include translateY(400%);
}
/*==========================================
=            Background Classes            =
==========================================*/

.white_bg {
	background:#fff;
	padding-bottom: 35px;
	padding-top: 20px;
}
.red_bg {
	background:$red;
}
.grey_light_bg {
	background:$grey-light;
}
.grey_bg {
	background:$grey;
}
.grey_dark_bg {
	background:$grey-dark;
}
/*==========================================
=            Gutter Classes           		 =
==========================================*/
.gutter-left {

	border-left:$gutter solid $grey;
}
.gutter-right {
	border-right:$gutter solid $grey;

}
.gutter-top {
	margin-top:$gutter;

}
.gutter-bottom {
	margin-bottom:$gutter;

}

.gutter-both {
	@extend .gutter-left;
	@extend .gutter-right;
}
/*==========================================
= Navigation Classes - Add this class to ul =
==========================================*/
.style-to-nav {
	display: inline-block;
  	list-style: none;
  	li {
  		float: left;
  	}
}