// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$gutter: 14px;


//Company Colors
$red: #EF3E34;
$red-dark: #DF1509;
$red-light: #FF4A3F;
$red-bright: #de1408;
$grey: #464646;
$grey-light: #B7BBC3;
$grey-lighter: #E5E5E5;
$grey-sober: #AAAAAA;
$grey-font: #CCCCCC;
$grey-dark: #636363;
$grey-footer-font: #8A8A8A;
$grey-footer-border: #555555;
$body-font: $grey-footer-border;
$white: #fff;
$skin: #FFECD1;

// Colors
$brand-primary:         $red; 
