// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$gutter: 14px;


//Company Colors
$red: #EF3E34;
$red-dark: #DF1509;
$grey: #464646;
$grey-light: #B7BBC3;
$grey-sober: #AAAAAA;
$grey-font: #CCCCCC;
$white: #fff;
$skin: #FFECD1;

// Colors
$brand-primary:         $red; 
