// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$red: #EE3B33;
$red-dark: #DF1509;
$grey: #464646;
$grey-light: #B7BBC3;
$white: #fff;
$skin: #FFECD1;
