#suckerfishnav {
    background: transparent;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    width: 1000px;	
}
#suckerfishnav, #suckerfishnav ul {
	z-index: 9999;
    float: left;
    list-style: none;
    line-height: 48px;
    padding: 0;
    border: 0px solid #aaa;
    margin: 0;
}
#suckerfishnav a {
    display: block;
    color: #FFFFFF;
	/*text-shadow: 1px 1px 1px #000000;
	filter: Shadow(Color=#000000, 	
			Direction=135, 
			Strength=1);*/
    text-decoration: none;
    padding: 0;
	padding-left: 14px;
	padding-right: 14px;
}
#suckerfishnav li {
    float: left;
    padding: 0;
	border-right: 1px solid #FF4A3F;
	background: #EE3B33 url(../images/nav_background.jpg) top left repeat-x;
}
#suckerfishnav ul {
    position: absolute;
    left: -999em;
    height: auto;
    width: 151px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
    border: 0;
    border-top: 1px solid #636363;
}
#suckerfishnav li li {
    width: 149px;
    border-bottom: 1px solid #777777;
    font-weight: normal;
    font-family: helvetica,sans-serif;
	background: #636363;
}
#suckerfishnav li li a {
	padding-left: 8px;
	padding-right: 8px;
    padding-top: 7px;
	padding-bottom: 7px;
	width: 130px;
    font-size: 11px;
    color: #FFFFFF;
}
#suckerfishnav li ul ul {
    margin:-21px 0 0 100px;
}
#suckerfishnav li li:hover {
	background: #444444;
}
#suckerfishnav li ul li:hover a, #suckerfishnav li ul li li:hover a, #suckerfishnav li ul li li li:hover a, #suckerfishnav li ul li li li:hover a {
    color:#FFFFFF;
}
#suckerfishnav li:hover a, #suckerfishnav li.sfhover a {
    color:#FFFFFF;
}
#suckerfishnav li:hover li a, #suckerfishnav li li:hover li a, #suckerfishnav li li li:hover li a, #suckerfishnav li li li li:hover li a {
    color:#FFFFFF;
}
#suckerfishnav li:hover ul ul, #suckerfishnav li:hover ul ul ul, #suckerfishnav li:hover ul ul ul ul, #suckerfishnav li.sfhover ul ul, #suckerfishnav li.sfhover ul ul ul, #suckerfishnav li.sfhover ul ul ul ul {
    left:-999em;
}
#suckerfishnav li:hover ul, #suckerfishnav li li:hover ul, #suckerfishnav li li li:hover ul, #suckerfishnav li li li li:hover ul, #suckerfishnav li.sfhover ul, #suckerfishnav li li.sfhover ul, #suckerfishnav li li li.sfhover ul, #suckerfishnav li li li li.sfhover ul {
    left: auto;	
    background: #636363;
}
#suckerfishnav li:hover, #suckerfishnav li.sfhover {
	border-right: 1px solid #636363;
    background: #636363 url(../images/blank.gif) top left no-repeat;
}