#tilesnav {
	background: transparent;
	font-family: Arial;    
	color: #000000;
}
#tilesnav, #tilesnav ul {
	z-index: 9999;
	float: left;
	list-style: none;
	padding: 0;
	border: 0px solid #aaa;
	margin: 0;
	width: 100%;
}
#tilesnav a {
	display: block;
	color: #000000;
	/*text-shadow: 1px 1px 1px #000000;
	filter: Shadow(Color=#000000, 	
			Direction=135, 
			Strength=1);*/
	text-decoration: none;
	padding: 0;
	cursor: pointer;
}
#tilesnav li {
	float: left;
	padding: 0;
	border-right: 1px solid #DDDDDD;	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	padding-right: 15px;
	cursor: pointer;
	background: url(../images/bullet_2.gif) top left no-repeat;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}
#tilesnav ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 150px;
	font-weight: normal;
	margin: 0;
	line-height: 1;
	border: 0;
	border-top: 1px solid #CCCCCC;
}
#tilesnav li li {
	width: 128px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: url(../images/white_85.png) top left repeat;	
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
}
#tilesnav li li a {
	width: 150px;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	color: #000000;
	cursor: pointer;
}
#tilesnav li ul {
	border-top: 0;
	padding-top: 16px;
}
#tilesnav li li ul {
	border-top: 0;
}
#tilesnav li ul ul {
	margin: 0;
}
#tilesnav li li:hover {
	background: #DDDDDD;
}
#tilesnav li ul li:hover a, #tilesnav li ul li li:hover a, #tilesnav li ul li li li:hover a, #tilesnav li ul li li li:hover a {
    color: #000000;
}
#tilesnav li:hover a, #tilesnav li.sfhover a {
    color: #000000;
}
#tilesnav li:hover li a, #tilesnav li li:hover li a, #tilesnav li li li:hover li a, #tilesnav li li li li:hover li a {
    color: #000000;
}
#tilesnav li:hover ul ul, #tilesnav li:hover ul ul ul, #tilesnav li:hover ul ul ul ul, #tilesnav li.sfhover ul ul, #tilesnav li.sfhover ul ul ul, #tilesnav li.sfhover ul ul ul ul {
    left: -999em;
}
/*#tilesnav li:hover ul, #tilesnav li li:hover ul, #tilesnav li li li:hover ul, #tilesnav li li li li:hover ul, #tilesnav li.sfhover ul, #tilesnav li li.sfhover ul, #tilesnav li li li.sfhover ul, #tilesnav li li li li.sfhover ul {
	left: -1px;
}*/
#tilesnav li:hover ul {
	left: -1px;
}
#tilesnav li li:hover ul {
	top: 0px;
	left: 149px;
}
#tilesnav li:hover, #tilesnav li.sfhover {
	
}