.list-reset {
	margin: 0;
	padding: 0;
	display:block;
}


#menu-primary-menu {
		padding:0px;
		margin: 0px;
	li {
	float:left;
	dislay:inline-block;
		a {
	display:inline-block;
		}
	}
	
}

.social-networks {
	ul {
		@extend .list-reset
	}

}