.list-reset {
	margin: 0;
	padding: 0;
	display:block;
}
.header {
	color: $grey-sober;
	position: relative;
	min-height: 180px;
	.social-networks {
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 15px;
		@extend .list-reset;
		display: inline-block;
		list-style: none;
		li {
			float: left;
		}
	}
	small {
		  line-height: 30px;
	}
	.sinceLogo {
		@media (min-width: $screen-md-min) {
			@include translateY(37%);
		}
	}
	.contact-details {
		@media (min-width: $screen-md-min) {
			@include translateY(90%);
		}
		.address {
			text-align: right;
			p,h4 {
				color: $grey-font;
				font-size: 12px;
				margin: 0;
				padding: 0;
				line-height: 20px;
			}
			h4 {
				color: #fff;
			}
		}
		.phone {
			text-align: right;
			border-left: 1px solid $grey-light;
			@media (min-width: $screen-lg-min) {
				@extend .translateY-400;
			}
			p {
				font-size: 18px;
				color: #fff;
			}
			span {
				color: $red;
			}
		}
	}
}

#menu-primary-menu {
	padding:0px;
	margin: 0 0 10px 0;
	background: $red;
	@include linear-gradient($red,$red-bright);

	li {
		float:left;
		display: inline-block;

		a {
			display:inline-block;
			color: #fff;
		}
		a:hover {
			background-color: $grey-dark;
		}
	}
	li+li {
		border-left: 1px solid $red-light;
	}
}
.headlinks {
	ul {
	    padding: 0;
	    li {
		    background-color: #636363;
		    padding: .2em 1em;
		    margin-bottom: .2em;
		    border-radius: 5px;
		    a {
			    text-decoration: none;
			    color: #fff;
			}
		}
	}
}




