/*=====================================
=            PDF Post Type            =
		As seen on New in Store
=====================================*/
.pdf-object {
	text-align: center;
	a {
	  text-align: center;
	  text-decoration: none;
	  img {
		  display: inline-block;
		  width: 65%;
		  margin-bottom: 1em;
		  -webkit-transition: all 0.2s ease;
		  -moz-transition: all 0.2s ease;
		  -o-transition: all 0.2s ease;
		  transition: all 0.2s ease;
	  }
	  img:hover {
		  transform: scale(2);
		}
	  span {
		  background: $grey-dark;
		  text-align: center;
		  padding: 1em;
		  width: 65%;
		  display: block;
		  color: #fff;
		  margin: auto;
	  }
	}
}


