.banner {
	position: relative;
	
}
#menu-shop-navigation {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 9999;
	  background-color: #fff;
	  margin-left: 15px;
	  opacity: 0.9;
	  li {
	  	padding: 10px;
	  	cursor: pointer;
	  }
	  a {
	  	display: block;
		color: #000000;
		text-decoration: none;
		padding: 0;
		cursor: pointer;
		text-transform: lowercase;
		font-size: 16px;
		font-weight: bold;
	  }
	  a:before {
	  	content: "";
	    border-top: 7px solid transparent;
	    border-bottom: 7px solid transparent;
	    border-left: 12px solid;
	    font-size: 0px;
	    vertical-align: middle;
	    margin-right: 5px; 
	    color: $red;
	  }
	}