.two-col {
  font-size: 12px;
  color: $body-font;
  padding-top: 20px;
  padding-bottom: 35px;
  div {
  	padding-left: 25px;
  	padding-right: 25px;
  }
  div+div {
  	border-left: 1px solid $grey-lighter;
  }
  .page-header {
  	padding: 0;
  	border: 0;
  	h1,h2 {
  	  font-size: 22px;
	  font-weight: normal;
	  line-height: 26px;
	  margin-bottom: 15px;
	  color: $red;
	}
	h1:before, h2:before {
		content: "";
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-left: 10px solid;
		font-size: 0px;
		vertical-align: middle;
		margin-right: 5px; 
	}
  }
}