.list-reset {
	margin: 0;
	padding: 0;
	display:block;
}
.header {
	color: $grey-sober;
	position: relative;
	min-height: 180px;
	.brand {
		img {
		    margin-top: 1em;
		}
	}
	.social-networks {
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 15px;
		@extend .list-reset;
		display: inline-block;
		list-style: none;
		@media (max-width: $screen-sm-min) {
			position: relative;
		    width: 100%;
		    padding: 0; 
		}
		li {
			float: left;
			@media (max-width: $screen-sm-min) {
				width: 20%;
    			text-align: center;
			}
		}
	}
	small {
		  line-height: 30px;
	}
	.sinceLogo {
		@media (min-width: $screen-md-min) {
			@include translateY(37%);
		}
	}
	.contact-details {
		@media (min-width: $screen-sm-min) {
			@include translateY(25%);
		}
		.site-header-title {
			font-family: Courgette;
		    text-align: right;
		    color: #fff;
		    margin: 0;
		    @media (min-width: $screen-lg-min) {
		    	padding-right: 10%;
		    }
		    font-size: 26px;
		    letter-spacing: 2px;
		}
		@media (min-width: $screen-md-min) {
			@include translateY(40%);
		}
		.address {
			text-align: right;
			@media (max-width: $screen-sm-min) {
				padding-right: 0; 
				text-align: center;
			}
			p,h4 {
				color: $grey-font;
				font-size: 12px;
				margin: 0;
				padding: 0;
				line-height: 20px;
			}
			h4 {
				color: #fff;
			}
		}
		.phone {
			text-align: left;
			border-left: 1px solid $grey-light;
			@media (min-width: $screen-lg-min) {
				@extend .translateY-400;
			}
			@media (max-width: $screen-sm-min) {
				text-align: center;
    			border: 0;
    			padding-left: 0; 
    			padding-right: 0; 
    			.headlinks { 
	 
					ul {
					    width: 100%;
					    margin-bottom: 0;
					    li {
						    width: 100%;
						    padding: 1em 0;
						    margin-top: 9px;
						    border-radius: 0;
						}
						a {
						    display: block;
						    text-align: center;
						}
					}
				
				}
			}
			p {
				font-size: 18px;
				@media (max-width: $screen-sm-min) {
					font-size: 30px;
				}
				color: #fff;
				a {
					color: #fff;
				}
			}
			span {
				color: $red;
			}
		}
	}
}

#menu-primary-menu {
	padding:0px;
	margin: 0 0 10px 0;
	background: $red;
	@include linear-gradient($red,$red-bright);

	li {
		float:left;
		display: inline-block;
		@media (max-width: $screen-xs-max) {
			width: 100%; 
		}
		a {
			display:inline-block;
			color: #fff;
			@media (max-width: $screen-xs-max) {
				width: 100%; 
			}
		}
		a:hover {
			background-color: $grey-dark;
		}
	}
	li+li {
		border-left: 1px solid $red-light;
		border-top: 0; 
		@media (max-width: $screen-xs-max) {
			border-top: 1px solid $red-light;
			border-bottom: 0; 
		}
	}
}
.headlinks {
	ul {
	    padding: 0;
	    li {
		    background-color: #636363;
		    padding: .2em 1em;
		    margin-bottom: .2em;
		    border-radius: 5px;
		    a {
			    text-decoration: none;
			    color: #fff;
			}
		}
	}
}
.navbar {
	margin-bottom: 0;
	.mob-nav {
		margin-left: 0;
    	margin-right: 0;
    	background: $red;
		@include linear-gradient($red,$red-bright);
	}
} 
.navbar-toggle {
    background-color: $red;
    opacity: 0.9;
    .icon-bar {
		background-color: #fff;  
	}
}
.navbar-collapse {
	padding: 0; 
}
.headlinks.hidden-sm { 
	 
		ul {
		    width: 100%;
		    li {
			    width: 100%;
			    padding: 7px 1em;
			    margin-top: 9px;
			    background-color: transparent;
			}
			a {
			    display: block;
			    text-align: center;
			}
		}
	
}
