/*=====================================
=            PDF Post Type            =
		As seen on New in Store
=====================================*/
.pdf-object {
	text-align: center;
	a {
	  text-align: center;
	  text-decoration: none;
	  display: block;
	  min-height: 23em;
	  margin-bottom: 2em;
	  img {
		  display: inline-block;
		  width: 65%;
		  margin-bottom: 1em;
		  -webkit-transition: all 0.2s ease;
		  -moz-transition: all 0.2s ease;
		  -o-transition: all 0.2s ease;
		  transition: all 0.2s ease;
	  }
	  img:hover {
		  transform: scale(2);
		}
	  span {
		  background: $grey-dark;
		  text-align: center;
		  padding: 1em;
		  width: 65%;
		  display: block;
		  color: #fff;
		  margin: auto;
	  }
	}
}
.col-lg-3 {
	.pdf-object {
		a {
			img {
			  height: 200px;
			}
		}
	}
}
.career-description {
	dt {
		text-align: left; 
	}
}

