.finder {
  position: relative;
  display: block;
  margin-bottom: 15px;
  clear: both;
  .finder_form {
	  position: relative;
	  display: block;
	  padding-top: 70px;
	  padding-bottom: 75px;
	  padding-left: 12px;
	  padding-right: 12px;
	  border: 1px solid #DDDDDD;
	  background: #F5F5F5;
	  clear: both;
	  h1 {
		  position: absolute;
		  top: 0;
		  left: 0;
		  display: block;
		  width: 100%;
		  padding-top: 1px;
		  padding-left: 10px;
		  padding-right: 10px;
		  font-size: 19px;
		  font-weight: normal;
		  line-height: 34px;
		  border-bottom: 1px solid #DDDDDD;
		  clear: both;
		  text-transform: uppercase;
  		  font-style: italic;
  		  font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	  }
	  .field_title {
		  position: relative;
		  display: block;
		  margin-top: 8px;
		  margin-bottom: 3px;
		  font-size: 13px;
		  font-weight: bold;
		  line-height: 130%;
		  color: $grey-dark;
		  clear: both;
	  }
	  .textfield1 {
		  width: 96%;
	  }
	  .moreoptions {
		  position: relative;
		  display: none;
		  margin-top: 10px;
		  clear: both;
	  }
	  .select1  {
		  width: 97%;
	  }
	  .slider {
	  	  width: 93%;
	  }
	  .button1-left {
		  position: relative;
		  display: block;
		  width: 86px;
		  height: 1px;
		  float: left;
		  padding-top: 29px;
		  margin-top: 10px;
		  border: 0;
		  background: url(/shop/images/clearform.jpg) top left no-repeat;
		  overflow: hidden;
		  clear: left;
	  }
	  .button1-right {
		  position: relative;
		  display: block;
		  width: 86px;
		  height: 1px;
		  float: right;
		  margin-top: 10px;
		  padding-top: 29px;
		  border: 0;
		  background: url(/shop/images/findtiles.jpg) top left no-repeat;
		  overflow: hidden;
		  clear: right;
	  }
	  .morelink {
		  bottom: 0;
		  left: 0;
		  position: absolute;
		  display: block;
		  width: 100%;
		  color: $grey-dark;
		  border-top: 1px solid #DDDDDD;
		  background: #ECECEC;
		  clear: both;
		  a {
			  position: relative;
			  display: block;
			  padding-top: 8px;
			  padding-bottom: 8px;
			  padding-left: 8px;
			  padding-right: 8px;
			  font-weight: bold;
			  text-decoration: none;
			  color: $grey-dark;
		  }
	  }
  }
}
.store_categories {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
  clear: both;
  h1 {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  width: 228px;
	  padding-top: 1px;
	  padding-left: 10px;
	  padding-right: 10px;
	  font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	  font-size: 19px;
	  font-weight: normal;
	  line-height: 26px;
	  color: $red;
	  border-bottom: 1px solid #DDDDDD;
	  clear: both;
	  margin-top: 0;
	  width: 100%;
	  text-transform: uppercase;
	  font-style: italic;
  }
  ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  li {
		  position: relative;
		  display: block;
		  width: auto;
		  border-bottom: 1px solid #DDDDDD;
		  background: #FFFFFF url(/shop/images/li-small-arrow.gif) 236px 8px no-repeat;
		  clear: both;
		  a {
			  position: relative;
			  display: block;
			  padding-top: 8px;
			  padding-bottom: 5px;
			  padding-left: 10px;
			  padding-right: 10px;
			  font-size: 12px;
			  font-weight: bold;
			  text-decoration: none;
			  line-height: 12px;
			  color: $grey-dark;
		  }
		  ul {
			  z-index: 300;
			  left: -999em;
			  position: absolute;
			  display: block;
			  padding-top: 2px;
			  padding-bottom: 4px;
			  border: 1px solid #DDDDDD;
			  background: #FFFFFF;
			  li {
				  background: #FFFFFF;
				  background-image: none;
				  a {
					  width: 220px;
				  }
			  }
		  }
	  }
  }
}