.item_detail {
    position: relative;
    display: block;
    padding-bottom: 10px;
    clear: both;
    .goback {
	    position: relative;
	    display: none;
	    margin-bottom: 10px;
	    font-size: 11px;
	    font-weight: normal;
	    line-height: 100%;
	    clear: both;
	    a {
		    text-decoration: none;
		    color: $red;
	    }
    }
    h1 {
	    position: relative;
	    display: block;
	    padding-top: 7px;
	    padding-bottom: 3px;
	    padding-left: 9px;
	    padding-right: 9px;
	    margin-bottom: 5px;
	    font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	    font-size: 24px;
	    font-weight: normal;
	    line-height: 100%;
	    color: #FFFFFF;
	    background: $grey-dark;
	    clear: both;
	    span {
		    font-family: Arial, Helvetica, sans-serif;
		    font-size: 17px;
		    font-weight: normal;
		    color: #FFFFFF;
	    }
    }
    .details {
	    position: relative;
	    display: block;
	    float: left;
	    width: 480px;
	    clear: left;
	    max-width: 100%;
	    .pricing {
		    position: relative;
		    display: block;
		    height: 90px;
		    margin-top: 10px;
		    clear: both;
		    .price {
			    position: relative;
			    display: block;
			    float: left;
			    width: 145px;
			    height: 75px;
			    font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
			    font-size: 33px;
			    font-weight: normal;
			    line-height: 75px;
			    text-align: center;
			    color: $grey-dark;
			    background: #F5F5F5;
			    overflow: hidden;
			    clear: left;
			    span {
				    font-family: Arial, Helvetica, sans-serif;
				    font-size: 12px;
				    font-weight: bold;
				    color: $grey-dark;
			    }
		    }
		    .calculation {
			    position: relative;
			    display: block;
			    float: left;
			    margin-left: 0px;
			    .item_qty {
				    position: relative;
				    display: block;
				    padding-left: 10px;
				    background: url(/shop/images/qty-arrow.gif) 0px 7px no-repeat;
				    clear: both;
				    .label {
					    position: relative;
					    display: block;
					    float: left;
					    padding-top: 7px;
					    font-size: 14px;
					    font-weight: bold;
					    text-align: left;
					    color: $grey-dark;
				    }

				    .field {
					    position: relative;
					    display: block;
					    float: left;
					    margin-left: 3px;
					    margin-right: 3px;
					    .textfield {
						    position: relative;
						    display: block;
						    width: 100px;
						    padding-top: 3px;
						    padding-bottom: 3px;
						    padding-left: 5px;
						    padding-right: 5px;
						    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
						    font-size: 18px;
						    font-weight: normal;
						    line-height: 100%;
						    text-align: right;
						    color: $grey-dark;
						    border: 1px solid $red;
						    background: #FFFFFF;
					    }
				    }
			    }
			    .item_calculation {
				    position: relative;
				    display: block;
				    width: 180px;
				    margin-left: 12px;
				    font-size: 12px;
				    font-weight: normal;
				    line-height: 140%;
				    color: $grey-dark;
				    clear: both;
			    }
		    }
	        .big_addtocart {
		        position: relative;
			    display: block;
			    width: 130px;
			    // height: 1px;
			    float: right;
			    margin-top: 1px;
			    // padding-top: 27px;
			    border: 0;
			    // background: url(/shop/images/big-addtocart.jpg) top left no-repeat;
			    overflow: hidden;
			    clear: right;
			    color: #fff;
			    background-color: #e61115;
    			font-size: 14px;
    			font-weight: bold;
    			font-style: italic;
			}
			#flag {
			    float: right;
			    margin: 20px 0px 0px 0px;
			}
	    }
	    .tabs {
		    position: relative;
		    display: block;
		    margin-top: 20px;
		    clear: both;

		    .tab,.tab_inactive {
			    position: relative;
			    display: block;
			    height: 43px;
			    float: left;
			    margin-bottom: -11px;
			    margin-right: 6px;
			    border-top: 1px solid #DDDDDD;
			    border-left: 1px solid #DDDDDD;
			    border-right: 1px solid #DDDDDD;
			    border-radius: 9px;
			    -moz-border-radius: 9px;
			    -webkit-border-radius: 9px;
			    behavior: url(includes/PIE.htc);
			    background: #FFFFFF;
			    a {
				    position: relative;
				    display: block;
				    padding-top: 10px;
				    padding-left: 11px;
				    padding-right: 11px;
				    font-size: 14px;
				    font-weight: bold;
				    line-height: 100%;
				    text-decoration: none;
			    }
			    @media (max-width: $screen-sm-max) {
		    		width: 100%; 
		    	}
		    }
		    .tab_inactive {
			    background: #FFFFFF url(/shop/images/tab-inactive.jpg) top left repeat-x;
			    a {
				    color: $red;
			    }
		    }
		    .tab {
		    	a {
				  color: $grey-dark;
				}
		    }
	    } 
		.page {
		  position: relative;
		  display: block;
		  padding: 20px;
		  border-bottom: 1px solid #DDDDDD;
		  border-left: 1px solid #DDDDDD;
		  border-right: 1px solid #DDDDDD;
		  background: #FFFFFF;
		  clear: both;
		  .description {
			  position: relative;
			  display: block;
			  margin-right: 10px;
			  font-size: 14px;
			  font-weight: normal;
			  line-height: 150%;
			  color: $grey-dark;
			  clear: both;
		  }
		  h4 {
		  	font-size: 12px;
		  	font-weight: bold;
		  }
		}
	    .details_table {
	    	td {
			    padding-top: 3px;
			    padding-bottom: 3px;
			    padding-left: 2px;
			    padding-right: 2px;
			    margin: 0;
			    font-size: 14px;
			    font-weight: normal;
			    line-height: 130%;
			    color: $grey-dark;
			    border-bottom: 1px solid #DDDDDD;
			    span {
				    font-size: 12px;
				    font-weight: normal;
				    line-height: 120%;
				    color: #888888;
			    }
			}
			h3 {
			    position: relative;
			    display: block;
			    margin: 0;
			    margin-bottom: 4px;
			    font-size: 14px;
			    font-weight: bold;
			    line-height: 130%;
			    color: $grey-dark;
			    clear: both;
			}
	    }
    }
    .image {
	    position: relative;
	    display: block;
	    float: left;
	    width: 300px;
	    min-height: 300px;
	    margin-top: 10px;
	    margin-left: 15px;
	    clear: right;
	    img {
		    position: relative;
		    display: block;
		    /* min-width: 300px; */
		    /* min-height: 300px; */
		    max-width: 300px;
		    max-height: 800px;
		    margin-bottom: 5px;
		    background: #EEEEEE;
		    @media (max-width: $screen-sm-max) {
		    	max-width: 75%;
		    }
		}
		.enlarge_image {
		    position: relative;
		    display: block;
		    font-size: 11px;
		    font-weight: normal;
		    line-height: 100%;
		    color: $grey-dark;
		    clear: both;
		    a {
			    text-decoration: none;
			    color: $red;
			}
		}
	}
	ul.thumb-list {
	    list-style: none;
	    margin-top: 10px;
	    li {
		    width: 84px;
		    height: 84px;
		    float: left;
		    margin: 0 15px 15px 0;
		    border: 3px solid #e5e5e5;
		    img {
			    width: 84px;
			    height: 84px;
			    min-width: 84px;
			    min-height: 84px;
			}
		}
	}
	.product_variations {
	    position: relative;
	    display: block;
	    margin-top: 25px;
	    clear: both;
	    h1 {
		    position: relative;
		    display: block;
		    padding: 0;
		    margin-bottom: 15px;
		    font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
		    font-size: 24px;
		    font-weight: normal;
		    line-height: 100%;
		    color: $grey-dark;
		    background: none;
		    clear: both;
		}
	}
	.related_products {
	    position: relative;
	    display: block;
	    margin-top: 35px;
	    clear: both;
	    h2 {
		    position: relative;
		    display: block;
		    margin-bottom: 10px;
		    font-size: 14px;
		    font-weight: bold;
		    line-height: 100%;
		    color: $grey-dark;
		    clear: both;
		}
		.thumb {
		    position: relative;
		    display: block;
		    float: left;
		    width: 183px;
		    height: 335px;
		    margin-right: 20px;
		    margin-bottom: 20px;
		    border: 1px solid #DDDDDD;
		    -moz-transition: all .20s linear;
		    -webkit-transition: all .20s linear;
		    -o-transition: all .20s linear;
		    transition: all .20s linear;
		    .thumbnail {
			    position: relative;
			    display: block;
			    width: 183px;
			    height: 183px;
			    background: #EEEEEE;
			    overflow: hidden;
			    clear: both;
			    margin-bottom: 5px;
			    border: 0;
  				padding: 0;
			    a {
				    position: relative;
				    display: block;
				    width: 100%;
				    height: 100%;
				    text-decoration: none;
				    position: relative;
				    img {
					    bottom: 0;
					    left: 0;
					    margin: auto;
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: 100%;
					}
				}
			}
			.thumb-details {
			    padding: 5px;
			}
			.size {
			    clear: left;
			    color: $grey-dark;
			    display: block;
			    float: left;
			    font-size: 12px;
			    font-weight: bold;
			    line-height: 130%;
			    margin-bottom: 3px;
			    position: relative;
			    text-align: left;
			    width: auto;
			}
			.code {
			    clear: right;
			    color: #888888;
			    display: block;
			    float: right;
			    font-size: 10px;
			    font-weight: 100;
			    line-height: 17px;
			    position: relative;
			    text-align: right;
			    width: auto;
			}
			.name {
			    clear: both;
			    color: $grey-dark;
			    display: block;
			    font-size: 15px;
			    font-weight: bold;
			    line-height: 125%;
			    margin-bottom: 2px;
			    margin-top: 2px;
			    position: relative;
			    text-align: left;
			    width: auto;
			    padding: 5px 0;
			    min-height: 37px;
			    a {
				    color: $red;
				    text-decoration: none;
				}
			}
			.price_buy {
			    clear: both;
			    color: $grey-dark;
			    display: block;
			    font-size: 15px;
			    font-weight: bold;
			    line-height: 125%;
			    margin-bottom: 4px;
			    position: relative;
			    text-align: left;
			    width: auto;
			}
			.price_rrp {
			    color: #888888;
			    display: block;
			    float: left;
			    font-size: 11px;
			    font-weight: normal;
			    line-height: 130%;
			    position: relative;
			    text-align: left;
			    text-decoration: line-through;
			    width: auto;
			    display: none;
			}
			.price_save {
			    color: $red;
			    display: block;
			    float: right;
			    font-size: 11px;
			    font-weight: normal;
			    line-height: 130%;
			    position: relative;
			    text-align: left;
			    width: auto;
			    display: none;
			}
		}
	}
	.from_collection {
	    position: relative;
	    display: block;
	    margin-top: 35px;
	    clear: both;
	    h2 {
		    position: relative;
		    display: block;
		    margin-bottom: 10px;
		    font-size: 14px;
		    font-weight: bold;
		    line-height: 100%;
		    color: $grey-dark;
		    clear: both;
		}
		.thumb {
		    position: relative;
		    display: block;
		    float: left;
		    width: 60px;
		    margin-right: 6px;
		    margin-bottom: 6px;
		    .thumbnail {
			    position: relative;
			    display: block;
			    width: 60px;
			    height: 60px;
			    background: #EEEEEE;
			    overflow: hidden;
			    clear: both;
			    a {
				    position: relative;
				    display: block;
				    width: 100%;
				    height: 100%;
				    text-decoration: none;
				}
			}
		}
	}
}
.price_rrp {
  padding-right: 15px;
  position: relative;
  display: block;
  width: auto;
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 130%;
  text-align: left;
  text-decoration: line-through;
  color: #888888;
}
.btnBQD {
  position: relative;
}

table.form-listing {
  width: 100%;
  tr {
  	td {
	  padding-bottom: 5px;
	  font-size: 13.5px;
	  font-weight: bold;
	  .textfield1 {
		  width: 80%;
	  }
	  #security {
	  	  width: 100px;
  		  margin-top: 3px;
	  }
	  input[type="submit"] {
	  	  display: block;
	  }
	}
  }
}