table.form-listing {
	input[type="radio"] {
		display: inline-block;
	}
}
#cart_table {
	display: table;
	table-layout: fixed;  
	.thumb {
	    margin: 0.2em;
	}
}
.cart {
	.cart_total {
	  position: relative;
	  display: block;
	  padding-top: 7px;
	  padding-bottom: 8px;
	  padding-left: 6px;
	  padding-right: 6px;
	  margin-top: 10px;
	  margin-bottom: 5px;
	  text-align: right;
	  color: #FFFFFF;
	  background: $red;;
	  clear: both;
	  .price {
	  	float: right;
  		margin-right: 1em; 
	  }
	}
	.cart_checkout_note {
	    padding: 10px 0;
	}
}
.btn-red {
	  margin-right: 0.2em;
}
.btn.green {
	background-color: #6DBE00;
	color: #fff;
	border-radius: 0;
	margin-right: 5px;
}
.project-type {
	vertical-align: top;
	input[type="checkbox"] {
	    display: inline-block;
	}
	#commercial_row,#residential_row {
		display: none;
		padding: 10px;
	    border: 1px solid;
	    margin-top: 5px;
	    width: 80%; 
	}
}