.two-col {
  font-size: 12px;
  color: $body-font;
  // padding-top: 20px;
  // padding-bottom: 35px;
  div {
  	padding-left: 25px;
  	padding-right: 25px;
  }
  div+div {
  	border-left: 1px solid $grey-lighter;
  }
  .page-header { 
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    // color: #666666;
  }
}
img.banner-icon {
  padding: 0 6.5em 2em 6.5em;
}