.TESTcpYearNavigation,
	.TESTcpMonthNavigation
			{
			background-color:#EE3B33;
			height: 20px;
			text-align:left;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			font-size: 6px;
			padding-left: 3px;
			margin-bottom: 2px;
			}
		.TESTcpMonthNavigation A:LINK, .TESTcpMonthNavigation A:VISITED
			{
			color: #FFFFFF;
			}
	.TESTcpDayColumnHeader,
	.TESTcpYearNavigation,
	.TESTcpMonthNavigation,
	.TESTcpCurrentMonthDate,
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDate,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDate,
	.TESTcpCurrentDateDisabled,
	.TESTcpTodayText,
	.TESTcpTodayTextDisabled,
	.TESTcpText
			{
			font-family:arial;
			font-size:8pt;
			}
	TD.TESTcpDayColumnHeader
			{
			text-align:right;
			padding-top: 2px;
			font-weight:bold;
			border:solid thin #EE3B33;
			border-width:0px;
			}
	.TESTcpCurrentMonthDate,
	.TESTcpOtherMonthDate,
	.TESTcpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDateDisabled
			{
			color:#BBBBBB;
			text-align:right;
			text-decoration:line-through;
			}
	.TESTcpCurrentMonthDate
			{
			color:#000000;
			font-weight:normal;
			}
	.TESTcpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.TESTcpOtherMonthDate
			{
			color:#808080;
			}
	TD.TESTcpCurrentDate
			{
			color:#FFFFFF;
			background-color: #FFFFFF;			
			border:solid thin #000000;
			border-width:1;
			}
	TD.TESTcpCurrentDate A:LINK, TD.TESTcpCurrentDate A:VISITED
			{
			color:#000000;
			}
	TD.TESTcpCurrentDateDisabled
			{
			border-width:0;
			border:solid thin #FFAAAA;
			}
	TD.TESTcpTodayText,
	TD.TESTcpTodayTextDisabled
			{
			border:solid thin #EE3B33;
			border-width:0 0 0 0;
			}
	A.TESTcpTodayText,
	SPAN.TESTcpTodayTextDisabled
			{
			height:20px;
			}
	A.TESTcpTodayText
			{
			color:#EE3B33;
			font-weight:bold;
			}
	SPAN.TESTcpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.TESTcpBorder
			{
			border:solid #CCCCCC;
			border-width:1px;
			}