.christmas_closure {
	position: absolute;
	z-index: 999;
	top: 166px;
	left: 50%;
	margin-left: -181px;
	width: 350px;
	height: 210px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #999999;
	text-align: center;
}