* {
	margin: 0;
	padding: 0;
	outline-style: none;
	outline-width: 0;
}
body, html {
	height: 100%;
}
body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #FFFFFF;
}
p {
	margin-bottom: 15px;
}
@font-face {
	font-family: 'VTCSuperMarketSaleRegular';
	src: url('../fonts/vtcsupermarketsaleregular.eot');
	src: local('vtcsupermarketsaleregular'),  local('vtcsupermarketsaleregular'),  url('../fonts/vtcsupermarketsaleregular.ttf') format('truetype'),  url('../fonts/vtcsupermarketsaleregular.svg#font') format('svg');
}
.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	clear: both;
}
.header {
	position:fixed;
	display: block;
	width: 1080px;
	height: 230px;
	clear: both;
	background-image: url(../images/head-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	left:50%;
	margin-left:-540px;
	z-index:999;
	background-color:#ffffff;
	margin-top:-240px;
}
.header .logo {
	z-index: 200;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 285px;
	height: 190px;
	background: url(../images/head-logo.png) top left no-repeat
}
.header .logo a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	clear: both;
}
.header .headlinks {
	z-index: 100;
	bottom: 80px;
	right: 0;
	position: absolute;
	display: block;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(includes/PIE.htc);
	background: #EEEEEE;
}
.header .headlinks ul {
}
.header .headlinks ul li {
	display: inline;
	list-style-type: none;
}
.header .headlinks ul li a {
	position: relative;
	display: block;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 9px;
	padding-right: 9px;
	font-size: 12px;
	font-weight: normal;
	line-height: 100%;
	text-decoration: none;
	color: #000000;
	border-right: 1px solid #DDDDDD;
}
.header .headlinks ul li a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.header .enquiries {
	color: #000000;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	height: 90px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 20px;
	z-index: 100;
}
.header .enquiries span {
	font-size: 30px !important;
	font-weight: bold;
	color: #F00;
}
.header .navigation {
	z-index: 99;
	bottom: 38px;
	right: 0;
	position: absolute;
	display: block;
	width: 100%;
	background: #000000;
}
.header .navigation ul {
	margin-left: 280px;
}
.header .navigation ul li {
	display: inline;
	list-style-type: none;
}
.header .navigation ul li a {
	position: relative;
	display: block;
	float: left;
	padding-left: 12px;
	padding-right: 13px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	color: #FFFFFF;
}
.header .navigation ul li a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.header .subnavigation {
	z-index: 98;
	bottom: 0;
	right: 0;
	position: absolute;
	display: block;
	width: 100%;
	background: #FFEC09 url(../images/label-areas.gif) 7px 5px no-repeat;
}
.header .subnavigation ul {
	margin-left: 75px;
}
.header .subnavigation ul li {
	display: inline;
	list-style-type: none;
}
.header .subnavigation ul li a {
	position: relative;
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 36px;
	text-decoration: none;
	color: #000000;
}
.header .subnavigation ul li a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.body {
	position: relative;
	display: block;
	width: 1080px;
	margin: 230px auto 10px;
	clear: both;
}
.body_left {
	position: relative;
	display: block;
	float: left;
	width: 250px;
	min-height: 460px;
	clear: left;
}
.body_right {
	position: relative;
	display: block;
	float: right;
	width: 800px;
	min-height: 460px;
	clear: right;
}
.blackheading {
	position: relative;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
	font-weight: bold;
	line-height: 100%;
	color: #000000;
	/*color: #FFFFFF;
			background: #000000;*/
			clear: both;
}
.blackheading span {
	font-weight: normal;
}
.finder {
	position: relative;
	display: block;
	margin-bottom: 15px;
	clear: both;
}
.finder .finder_form {
	position: relative;
	display: block;
	padding-top: 40px;
	padding-bottom: 45px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #DDDDDD;
	background: #F5F5F5;
	clear: both;
}
.finder .finder_form h1 {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 200px;
	padding-top: 1px;
	padding-left: 38px;
	padding-right: 10px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 34px;
	color: #000000;
	border-bottom: 1px solid #DDDDDD;
	background: #FFEC09 url(../images/icon-findtiles.gif) 7px 9px no-repeat;
	clear: both;
}
.finder .finder_form .field_title {
	position: relative;
	display: block;
	margin-top: 8px;
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: bold;
	line-height: 130%;
	color: #000000;
	clear: both;
}
.finder .finder_form .textfield1 {
	width: 96%;
}
.finder .finder_form .select1 {
	width: 97%;
}
.finder .finder_form .button1-left {
	position: relative;
	display: block;
	width: 86px;
	height: 1px;
	float: left;
	padding-top: 29px;
	margin-top: 10px;
	border: 0;
	background: url(../images/clearform.jpg) top left no-repeat;
	overflow: hidden;
	clear: left;
}
.finder .finder_form .button1-left:hover {
	cursor: pointer;/*background: url(../images/clearform-over.jpg) top left no-repeat;*/
			}
.finder .finder_form .button1-right {
	position: relative;
	display: block;
	width: 86px;
	height: 1px;
	float: right;
	margin-top: 10px;
	padding-top: 29px;
	border: 0;
	background: url(../images/findtiles.jpg) top left no-repeat;
	overflow: hidden;
	clear: right;
}
.finder .finder_form .button1-right:hover {
	cursor: pointer;/*background: url(../images/findtiles-over.jpg) top left no-repeat;*/
			}
.finder .finder_form .morelink {
	bottom: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	color: #000000;
	border-top: 1px solid #DDDDDD;
	background: #ECECEC;
	clear: both;
}
.finder .finder_form .morelink a {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.finder .finder_form .morelink a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #EF3E34;
}
.finder .finder_form .moreoptions {
	position: relative;
	display: none;
	margin-top: 10px;
	clear: both;
}
.store_categories {
	position: relative;
	display: block;
	padding-top: 30px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	clear: both;
}
.store_categories h1 {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 228px;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: normal;
	line-height: 26px;
	color: #000000;
	border-bottom: 1px solid #DDDDDD;
	background: #FFEC09;
	clear: both;
}
.gallery {
	position: relative;
	display: block;
	padding-top: 40px;
	margin-top: 16px;
	clear: both;
}
.gallery_top {
	top: 2px;
	left: 0;
	position: absolute;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	color: #000000;
}
.gallery .pagenumbers {
	top: 0;
	right: 10px;
	position: absolute;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	color: #000000;
	padding-left: 80px;
}
.gallery .pagenumbers .prev, .gallery .pagenumbers .next {
	position: relative;
	display: block;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.gallery .pagenumbers .prev a, .gallery .pagenumbers .next a {
	position: relative;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	color: #EF3E34;
}
.gallery .pagenumbers .prev a:hover, .gallery .pagenumbers .next a:hover {
	text-decoration: none;
	color: #000000;
}
.gallery .pagenumbers .page {
	position: relative;
	display: block;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.gallery .pagenumbers .page a {
	position: relative;
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 1px;
	text-decoration: none;
	color: #EF3E34;
}
.gallery .pagenumbers .page a:hover {
	text-decoration: none;
	color: #000000;
}
.gallery .pagenumbers .page_selected {
	position: relative;
	display: block;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.gallery .pagenumbers .page_selected a {
	position: relative;
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 1px;
	text-decoration: none;
	color: #000000;
}
.gallery .thumb {
	position: relative;
	display: block;
	float: left;
	width: 145px;
	padding-bottom: 3px;
	margin-bottom: 45px;
	margin-right: 15px;
	background: #FFFFFF;
}
.gallery .thumb .thumbnail {
	position: relative;
	display: block;
	width: 145px;
	height: 145px;
	margin-bottom: 10px;
	text-align: center;
	background: #EEEEEE;
	overflow: hidden;
	clear: both;
}
.gallery .thumb .thumbnail  a{ float: left; width: 100%; height: 145px; position: relative; border: 1px solid #d9d9d9;}
.gallery .thumb .thumbnail  a img{ 
        width: 100%; 
        margin: auto;
        position: absolute;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0;
}
.gallery .thumb .thumbnail a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}


/*.gallery .thumb .thumbnail a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.gallery .thumb .thumbnail a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.gallery .thumb .thumbnail img {
	max-width: 100%;
	min-height: 100%;
}*/


.gallery .thumb .size {
	position: relative;
	display: block;
	margin-bottom: 3px;
	float: left;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	color: #000000;
	clear: left;
}
.gallery .thumb .code {
	position: relative;
	display: block;
	float: right;
	width: auto;
	font-size: 10px;
	font-weight: 100;
	line-height: 17px;
	text-align: right;
	color: #888888;
	clear: right;
}
.gallery .thumb .name {
	position: relative;
	display: block;
	width: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 15px;
	font-weight: bold;
	line-height: 125%;
	text-align: left;
	color: #000000;
	clear: both;
}
.gallery .thumb .name a {
	text-decoration: none;
	color: #EF3E34;
}
.gallery .thumb .name a:hover {
	text-decoration: none;
	color: #000000;
}
.gallery .thumb .price_buy {
	position: relative;
	display: block;
	width: auto;
	margin-bottom: 4px;
	font-size: 15px;
	font-weight: bold;
	line-height: 125%;
	text-align: left;
	color: #000000;
	clear: both;
}
.gallery .thumb .price_info {
	position: relative;
	display: block;
	width: auto;
	margin-bottom: 10px;
	clear: both;
}
.gallery .thumb .price_info .price_rrp {
	position: relative;
	display: block;
	width: auto;
	float: left;
	font-size: 11px;
	font-weight: normal;
	line-height: 130%;
	text-align: left;
	text-decoration: line-through;
	color: #888888;
	display:none;
}
.gallery .thumb .price_info .price_save {
	position: relative;
	display: block;
	width: auto;
	float: right;
	font-size: 11px;
	font-weight: normal;
	line-height: 130%;
	text-align: left;
	color: #EF3E34;
	display:none;
}
.gallery .thumb .button {
	position: relative;
	display: block;
	margin-top: 10px;
	clear: both;
}
.gallery .thumb .button a {
	position: relative;
	display: block;
	width: 70px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(includes/PIE.htc);
	background: #EF3E34;
}
.gallery .thumb .feedback {
	position: absolute;
	bottom: 7px;
	right: 0;
	display: none;
	font-size: 11px;
	font-weight: 100;
	line-height: 100%;
	color: #888888;
}
.pagebody {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 60px;
	font-size: 13.5px;
	font-weight: normal;
	line-height: 165%;
	color: #000000;
	clear: both;
}
.pagebody h1 {
	position: relative;
	display: block;
	margin-bottom: 16px;
	padding-right: 40px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 130%;
	color: #000000;
	clear: both;
}
.pagebody h2 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.pagebody h3 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.pagebody h4 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.pagebody h5 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.pagebody h6 {
	position: relative;
	display: block;
	margin-bottom: 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.pagebody ul {
	position: relative;
	display: block;
	margin-bottom: 1.4em;
	margin-left: 30px;
}
.pagebody ol {
	position: relative;
	display: block;
	margin-bottom: 1.4em;
	margin-left: 22px;
}
.pagebody p {
	margin-bottom: 1em;
}
.pagebody a {
	text-decoration: underline;
	color: #000000;
}
.pagebody a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.pagebody .divider {
	position: relative;
	display: block;
	height: 5px;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}
.pagebody .col1 {
	position: relative;
	display: block;
	float: left;
	width: 48%;
	clear: left;
}
.pagebody .col2 {
	position: relative;
	display: block;
	float: right;
	width: 48%;
	clear: right;
}
.pagebody .indent_body2 {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	clear: both;
}
.backtotop {
	position: relative;
	display: block;
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
	clear: both;
}
.backtotop a {
	text-decoration: none;
	color: #000000;
}
.backtotop a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.item_detail {
	position: relative;
	display: block;
	padding-bottom: 10px;
	clear: both;
}
.item_detail h1 {
	position: relative;
	display: block;
	padding-top: 7px;
	padding-bottom: 3px;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 5px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 100%;
	color: #FFFFFF;
	background: #000000;
	clear: both;
}
.item_detail h1 span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #FFFFFF;
}
.item_detail .goback {
	position: relative;
	display: none;
	margin-bottom: 10px;
	font-size: 11px;
	font-weight: normal;
	line-height: 100%;
	clear: both;
}
.item_detail .goback a {
	text-decoration: none;
	color: #EF3E34;
}
.item_detail .goback a:hover {
	text-decoration: none;
	color: #000000;
}
.item_detail .details {
	position: relative;
	display: block;
	float: left;
	width: 480px;
	clear: left;
}
.item_detail .details .pricing {
	position: relative;
	display: block;
	height: 90px;
	margin-top: 10px;
	clear: both;
}
.item_detail .details .pricing .price {
	position: relative;
	display: block;
	float: left;
	width: 145px;
	height: 75px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 33px;
	font-weight: normal;
	line-height: 75px;
	text-align: center;
	color: #000000;
	background: #F5F5F5;
	overflow: hidden;
	clear: left;
}
.item_detail .details .pricing .price span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.item_detail .details .pricing .calculation {
	position: relative;
	display: block;
	float: left;
	margin-left: 12px;
}
.item_detail .details .pricing .calculation .item_qty {
	position: relative;
	display: block;
	padding-left: 10px;
	background: url(../images/qty-arrow.gif) 0px 7px no-repeat;
	clear: both;
}
.item_detail .details .pricing .calculation .item_qty .label {
	position: relative;
	display: block;
	float: left;
	padding-top: 7px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
.item_detail .details .pricing #flag {
    float: right;
    margin: 20px 0px 0px 0px;
}
.item_detail .details .pricing .calculation .item_qty .field {
	position: relative;
	display: block;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}
.item_detail .details .pricing .calculation .item_qty .field .textfield {
	position: relative;
	display: block;
	width: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 100%;
	text-align: right;
	color: #000000;
	border: 1px solid #EF3E34;
	background: #FFFFFF;
}
.item_detail .details .pricing .calculation .item_qty .field .textfield:HOVER,  .item_detail .details .pricing .calculation .item_qty .field .textfield:FOCUS {
	border: 1px solid #EF3E34;
	background: #FFFFFF;
}
.item_detail .details .pricing .calculation .item_calculation {
	position: relative;
	display: block;
	width: 180px;
	margin-left: 12px;
	font-size: 12px;
	font-weight: normal;
	line-height: 140%;
	color: #000000;
	clear: both;
}
.item_detail .details .pricing .big_addtocart {
	position: relative;
	display: block;
	width: 101px;
	height: 1px;
	float: right;
	margin-top: 1px;
	padding-top: 53px;
	border: 0;
	background: url(../images/big-addtowishlist.jpg) top left no-repeat;
	overflow: hidden;
	clear: right;
}
.item_detail .details .pricing .big_addtocart:hover {
	cursor: pointer;/*background: url(../images/findtiles-over.jpg) top left no-repeat;*/
				}
.item_detail .details .tabs {
	position: relative;
	display: block;
	margin-top: 20px;
	border-bottom: 1px solid #DDDDDD;
	clear: both;
}
.item_detail .details .tabs .tab, .item_detail .details .tabs .tab_inactive {
	position: relative;
	display: block;
	height: 43px;
	float: left;
	margin-bottom: -11px;
	margin-right: 6px;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	behavior: url(includes/PIE.htc);
	background: #FFFFFF;
}
.item_detail .details .tabs .tab_inactive {
	background: #FFFFFF url(../images/tab-inactive.jpg) top left repeat-x;
}
.item_detail .details .tabs .tab a, .item_detail .details .tabs .tab_inactive a {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-left: 11px;
	padding-right: 11px;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	text-decoration: none;
}
.item_detail .details .tabs .tab a {
	color: #000000;
}
.item_detail .details .tabs .tab a:hover {
	cursor: default;
	text-decoration: none;
	color: #000000;
}
.item_detail .details .tabs .tab_inactive a {
	color: #EF3E34;
}
.item_detail .details .tabs .tab_inactive a:hover {
	text-decoration: none;
	color: #000000;
}
.item_detail .details .page {
	position: relative;
	display: block;
	padding: 20px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF;
	clear: both;
}
.item_detail .details .page .description {
	position: relative;
	display: block;
	margin-right: 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 150%;
	color: #000000;
	clear: both;
}
.item_detail .details .page .description p {
	margin-bottom: 0.7em;
}
.item_detail .details .page .description br {
	line-height: 100%;
}
.item_detail .details .page .description a {
	text-decoration: none;
	color: #EF3E34;
}
.item_detail .details .page .description a:hover {
	text-decoration: none;
	color: #000000;
}
.item_detail .details .details_table .price_buy {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding-top: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 25px;
	font-size: 17px;
	font-weight: normal;
	line-height: 100%;
	text-align: left;
	color: #000000;
}
.item_detail .details .details_table .item_qty {
	position: relative;
	display: block;
	float: left;
	width: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 5px;
	font-size: 11px;
	font-weight: normal;
	line-height: 100%;
	text-align: left;
	color: #888888;
}
.item_detail .details .details_table .item_qty .textfield1 {
	display: inline;
	width: 30px;
	margin-left: 3px;
	text-align: right;
}
.item_detail .details .details_table .button {
	position: relative;
	display: block;
	float: left;
	margin-top: 8px;
}
.item_detail .details .details_table .button a {
	position: relative;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 100%;
	text-align: left;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(includes/PIE.htc);
	background: #EF3E34;
}
.item_detail .details .details_table .feedback {
	position: relative;
	display: none;
	float: left;
	margin-top: 8px;
	font-size: 11px;
	font-weight: 100;
	line-height: 100%;
	color: #888888;
}
.item_detail .details .details_table .price_rrp {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	text-decoration: line-through;
	color: #000000;
	display:none;
}
.item_detail .details .details_table .price_save {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 130%;
	text-align: right;
	color: #EF3E34;
	display:none;
}
.item_detail .details .details_table table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	clear: both;
}
.item_detail .details .details_table h3 {
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 130%;
	color: #000000;
	clear: both;
}
.item_detail .details .details_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 130%;
	color: #000000;
	border-bottom: 1px solid #DDDDDD;
}
.item_detail .details .details_table td span {
	font-size: 12px;
	font-weight: normal;
	line-height: 120%;
	color: #888888;
}
.item_detail .image {
	position: relative;
	display: block;
	float: left;
	width: 300px;
	min-height: 300px;
	margin-top: 10px;
	margin-left: 15px;
	clear: right;
}
.item_detail .image img {
	position: relative;
	display: block;
/*	min-width: 300px;*/
/*	min-height: 300px;*/
	max-width: 300px;
	max-height: 800px;
	margin-bottom: 5px;
	background: #EEEEEE;
}
.item_detail .image .enlarge_image {
	position: relative;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
	clear: both;
}
.item_detail .image .enlarge_image a {
	text-decoration: none;
	color: #EF3E34;
}
.item_detail .image .enlarge_image a:hover {
	text-decoration: none;
	color: #000000;
}
.item_detail .product_variations {
	position: relative;
	display: block;
	margin-top: 25px;
	clear: both;
}
.item_detail .product_variations h1 {
	position: relative;
	display: block;
	padding: 0;
	margin-bottom: 15px;
	font-family: VTCSuperMarketSaleRegular, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
	background: none;
	clear: both;
}
.item_detail .related_products {
	position: relative;
	display: block;
	margin-top: 35px;
	clear: both;
}
.item_detail .related_products h2 {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	color: #000000;
	clear: both;
}
.item_detail .related_products .thumb {
	position: relative;
	display: block;
	float: left;
	width:180px;
    min-height:300px;
	margin-right:10px;
	margin-bottom:20px;
    border:1px solid #DDDDDD;
    -moz-transition:all .20s linear;
	-webkit-transition:all .20s linear;
	-o-transition:all .20s linear;
	transition:all .20s linear;
	height:300px;
}
.item_detail .related_products .thumb:hover{
    box-shadow:0 0 3px rgba(0,0,0,.3);
}
.item_detail .related_products .thumb .thumb-details{
    padding:5px;
}
.item_detail .related_products .thumb.last-row{
    margin-right:0;
}
.item_detail .related_products .thumb .size {
	clear: left;
	color: #000000;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 130%;
	margin-bottom: 3px;
	position: relative;
	text-align: left;
	width: auto;
}
.item_detail .related_products .thumb .code {
    clear: right;
    color: #888888;
    display: block;
    float: right;
    font-size: 10px;
    font-weight: 100;
    line-height: 17px;
    position: relative;
    text-align: right;
    width: auto;
}
.item_detail .related_products .thumb .name {
    clear: both;
    color: #000000;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 125%;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    text-align: left;
    width: auto;
    padding:5px 0;
    min-height: 37px;
}
.item_detail .related_products .thumb .name a {
    color: #EF3E34;
    text-decoration: none;
}
.item_detail .related_products .thumb .name a:hover{
	color: #000000;
    text-decoration: none;
}
.item_detail .related_products .thumb .price_buy {
	clear: both;
	color: #000000;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 125%;
	margin-bottom: 4px;
	position: relative;
	text-align: left;
	width: auto;
}
.item_detail .related_products .thumb .price_rrp {
	color: #888888;
	display: block;
	float: left;
	font-size: 11px;
	font-weight: normal;
	line-height: 130%;
	position: relative;
	text-align: left;
	text-decoration: line-through;
	width: auto;
	display:none;
}
.item_detail .related_products .thumb .price_save {
	color: #EF3E34;
	display: block;
	float: right;
	font-size: 11px;
	font-weight: normal;
	line-height: 130%;
	position: relative;
	text-align: left;
	width: auto;
	display:none;
}
.item_detail .related_products .thumb .thumbnail {
	position: relative;
	display: block;
	width:183px;
	height:183px;
	background: #EEEEEE;
	overflow: hidden;
	clear: both;
    margin-bottom:5px;
}
.item_detail .related_products .thumb .thumbnail a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
        position: relative;
}
.item_detail .related_products .thumb .thumbnail a img{
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
}
.item_detail .related_products .thumb .thumbnail a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.item_detail .from_collection {
	position: relative;
	display: block;
	margin-top: 35px;
	clear: both;
}
.item_detail .from_collection h2 {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	color: #000000;
	clear: both;
}
.item_detail .from_collection .thumb {
	position: relative;
	display: block;
	float: left;
	width: 60px;
	margin-right: 6px;
	margin-bottom: 6px;
}
.item_detail .from_collection .thumb .thumbnail {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	background: #EEEEEE;
	overflow: hidden;
	clear: both;
}
.item_detail .from_collection .thumb .thumbnail a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.item_detail .from_collection .thumb .thumbnail a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.cart {
	position: relative;
	display: block;
	padding-bottom: 10px;
	clear: both;
}
.cart h1 {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	color: #FFFFFF;
	background: #000000;
	clear: both;
}
.cart .bodytext {
	position: relative;
	display: block;
	margin-top: 15px;
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
	color: #000000;
	clear: both;
}
.cart .checkout_button {
	position: relative;
	display: block;
	float: right;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.cart .checkout_button a {
	text-decoration: none;
	color: #EF3E34;
}
.cart .cart_table table {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	clear: both;
}
.cart .cart_table th {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
	color: #000000;
	border-bottom: 1px solid #000000;
}
.cart .cart_table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
	color: #000000;
	border-bottom: 1px solid #DDDDDD;
}
.cart .cart_table td a {
	text-decoration: none;
	color: #000000;
}
.cart .cart_table td a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.cart .cart_table td span {
	color: #888888;
}
.cart .cart_table .thumb {
	position: relative;
	display: block;
	width: 80px;
	clear: both;
}
.cart .cart_table .thumb img {
	max-width: 100%;
	max-height: 200px;
}
.cart .cart_table .qty {
	position: relative;
	display: block;
	width: 45px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}
.cart .cart_table .qty .textfield1 {
	width: 30px;
	text-align: right;
}
.cart .cart_table .qty .text {
	top: 2px;
	right: 15px;
	position: absolute;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
}
.cart .cart_table .qty .controls {
	top: 0;
	right: 0;
	position: absolute;
	width: 10px;
	height: 25px;
	display: block;
}
.cart .cart_table .qty .controls .increase {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	text-align: center;
	clear: both;
}
.cart .cart_table .qty .controls .increase a {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	padding-bottom: 1px;
	background: url(../images/qty-increase.gif) top left no-repeat;
	clear: both;
}
.cart .cart_table .qty .controls .decrease {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	text-align: center;
	clear: both;
}
.cart .cart_table .qty .controls .decrease a {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	padding-top: 1px;
	background: url(../images/qty-decrease.gif) bottom left no-repeat;
	clear: both;
}
.cart .cart_checkout_note {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 11px;
	font-weight: normal;
	line-height: 130%;
	text-align: right;
	color: #888888;
	clear: both;
}
.cart .cart_total {
	position: relative;
	display: block;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: right;
	color: #FFFFFF;
	background: #000000;
	clear: both;
}
.cart .cart_total .label {
	position: relative;
	display: block;
	float: right;
	font-size: 14px;
	font-weight: normal;
	line-height: 100%;
	color: #FFFFFF;
	clear: left;
}
.cart .cart_total .price {
	position: relative;
	display: block;
	float: right;
	margin-left: 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	color: #FFFFFF;
	clear: left;
}
.footer {
	position: relative;
	display: block;
	width: 1056px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(includes/PIE.htc);
	clear: both;
}
.footer_row1_col1 {
	position: relative;
	display: block;
	float: left;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	color: #000000;
	clear: left;
}
.footer_row1_col1 span {
	font-weight: 100;
}
.footer_row1_col1 a {
	text-decoration: underline;
	color: #000000;
}
.footer_row1_col1 a:hover {
	text-decoration: none;
	color: #EF3E34;
}
.footer_row1_col2 {
	position: relative;
	display: block;
	float: right;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: bold;
	line-height: 130%;
	text-align: right;
	color: #000000;
	clear: right;
}
.footer_row1_col2 ul {
	list-style: none;
}
.footer_row1_col2 ul li {
	float: left;
	padding-left: 10px;
}
.footer_row1_col2 ul li a {
	text-decoration: none;
	color: #000000;
}
.footer_row1_col2 ul li a:hover {
	text-decoration: underline;
	color: #000000;
}
.footer_row2_col1 {
	position: relative;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
	text-align: left;
	color: #000000;
	clear: left;
}
.footer_row2_col1 ul {
	list-style: none;
}
.footer_row2_col1 ul li {
	float: left;
	padding-right: 10px;
}
.footer_row2_col1 ul li a {
	text-decoration: none;
	color: #000000;
}
.footer_row2_col1 ul li a:hover {
	text-decoration: underline;
	color: #000000;
}
.footer_row2_col2 {
	position: relative;
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
	text-align: right;
	color: #000000;
	clear: right;
}
.footer_row2_col2 ul {
	list-style: none;
}
.footer_row2_col2 ul li {
	float: left;
	padding-left: 10px;
}
.footer_row2_col2 ul li a {
	text-decoration: none;
	color: #000000;
}
.footer_row2_col2 ul li a:hover {
	text-decoration: underline;
	color: #000000;
}
.textfield1 {
	position: relative;
	display: block;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 100%;
	color: #000000;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #999999;
	background: #FFFFFF;
}
.textfield1:HOVER, .textfield1:FOCUS {
	border-color: #888888;
	background: #FFFFFF;
}
.textarea1 {
	position: relative;
	display: block;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 100%;
	color: #000000;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #AAAAAA;
	background: #FFFFFF;
}
.textarea1:HOVER, .textarea1:FOCUS {
	border-color: #999999;
	background: #FFFFFF;
}
.select1 {
	position: relative;
	display: block;
	padding: 3px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 100%;
	color: #000000;
}
.enquiry_table table {
	border-collapse: collapse;
}
.enquiry_table td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	font-size: 13.5px;
	font-weight: normal;
	line-height: 150%;
	color: #000000;
}
.redlink {
	color: #000000;
}
.redlink a {
	text-decoration: none;
	color: #EF3E34;
}
.redlink a:hover {
	text-decoration: none;
	color: #000000;
}
.clear {
	clear: both;
}
table.form-listing {
	width: 100%;
}
table.form-listing tr td {
	padding-bottom: 5px;
	font-size: 13.5px;
	font-weight: bold;
}
table.form-listing tr td .textfield1 {
	width: 80%;
}
.checkout-page .body_left {
}
.checkout-page table.form-listing {
	width: 100%;
}
.checkout-page table.form-listing tr td .textfield1 {
	width: 40%;
}
#placeorder, .btn-red {
	background:#EF3E34;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #FFFFFF;
	display: inline-block;
 *display: inline;
 *zoom:1;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	padding: 7px 10px;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}
#placeorder:hover, .btn-red:hover {
	background:#D6160B;
}
.thankyou {
	padding: 100px 0;
	text-align: center;
}
.thankyou h2 {
	color: #518203;
	font-size: 36px;
	margin: 0 0 10px;
}
.thankyou p {
	color: #696969;
	font-size: 14px;
	margin-bottom: 15px;
}

.item_detail ul.thumb-list{
    list-style:none;
    margin-top:10px;
}
.item_detail  ul.thumb-list li{
    width:84px;
    height:84px;
    float:left;
    margin:0 15px 15px 0;
    border:3px solid #e5e5e5;
}
.item_detail  ul.thumb-list li:hover{
    border:3px solid #bebebe;
 }
.item_detail  ul.thumb-list li.last-row{
    margin:0 0 15px;
}
.item_detail  ul.thumb-list li img{
    width:84px;
    height:84px;
    min-width:84px;
    min-height:84px;
}
.btnBQD{
    position:relative;
    
}
.tooltip{
   display:none; 
   width:200px;
   padding: 8px;
   color:#fff;
   text-decoration:none;
   position:absolute;
   top:-92px;
   left:0;
   background: #000;
}
.btnBQD:hover .tooltip{
   display: block; 
}
.arrow{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    position: absolute;
    bottom: -4px;
    left: 13px;
}
.price_info .price_rrp{
	   display: none !important;
}
.price_info .price_save{
	   display: none !important;
}
img{white-space:pre}
.product_overlay_img{
	overflow:hidden;	
}
.overlay {
   @include transition(all .5s ease-out);
  position:absolute;
  bottom:100%;
  left:0px;
  z-index:400;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.overlay_title{
	@include transition(all .5s ease-out);
	transition: all 0.5s ease;
  width:100%;
  float:left;
  margin:1em 0em 0.5em 0em;
  text-align:center;
  color:#fff;
  font-size:2em;
  font-family:'Open Sans';
}
.overlay .overlay_title{
	@include transition(all .5s ease-out);
	transition: all 0.5s ease;
  width:100%;
  float:left;
  margin:1em 0em 0.5em 0em;
  text-align:center;
  color:#fff;
  font-size:2em;
  font-family:'Open Sans';
}
.product_overlay_img:hover .overlay{
	@include transition(all .5s ease-out);
  top:0px;
  left:0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.surge_btn{
	padding: 5px 10px;
	border:#666666 1px solid;
}