.store_categories ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.store_categories li { /* all list items */
	position: relative;
	display: block;
	width: auto; /* width needed or else Opera goes nuts */
	border-bottom: 1px solid #DDDDDD;
	background: #FFFFFF url(../images/li-small-arrow.gif) 236px 8px no-repeat;
	clear: both;
}
	.store_categories li a {
		position: relative;
		display: block;
		padding-top: 8px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		line-height: 12px;
		color: #000000;
	}
		.store_categories li a:hover {
			text-decoration: none;
			color: #EF3E34;
		}

.store_categories li ul { /* second-level lists */
	z-index: 300;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	position: absolute;
	display: block;
	padding-top: 2px;
	padding-bottom: 4px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
}
	.store_categories li ul li {
		background: #FFFFFF;
		background-image: none;
	}
	.store_categories li ul li a { /* will also inherit from .store_categories li a */
		width: 220px;
	}

.store_categories li ul ul { /* third-and-above-level lists */
	position: absolute;
	display: block;
}

.store_categories li:hover ul ul, .store_categories li.sfhover ul ul {
	left: -999em;
}

.store_categories li:hover ul, .store_categories li li:hover ul, .store_categories li.sfhover ul, .store_categories li li.sfhover ul { /* lists nested under hovered list items */
	top: -3px;
	left: 230px;
}
